@import url('https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css@0.2.1/output/moretoggles.min.css');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.theme-light {
  --dark-text: #212121;
  --light-text: #5E4B56;
  --dark-background: #E6CCA9;
  --light-background: #FFCFDF;
  --accent: #DBE7E4;
  --button-border: #5E4B56;
	--note: #AE4CCF;
	--note-new:	#FF6D6D;
	--placeholder-search: darkslategray;
	--placeholder-note: #212121;
}
.theme-dark {
  --dark-text: #EAEAEA;
  --light-text: #F9F8F8;  
  --dark-background: #222831;
  --light-background: #586F7C;
  --accent: #B8DBD9;
  --button-border: #B8DBD9;
	--note: #393E46;
	--note-new: #00ADB5;
	--placeholder-search: grey;
	--placeholder-note: #343434;
}

 html, #root {
  background-color: var(--dark-background);
  color: var(--dark-text);
	transition: 0.8s all ease;
}

/* Media queries */
@media (max-width: 800px) {
	.sidebar {
		display: none;
	}
}


.toggle--button {
	cursor: pointer;
}
.toggle--button.dark {
	border: none;
  --dark-background: #222831;
	background-color: var(--dark-background);
}
.toggle--button.light {
	border: none;
	background-color: var(--dark-background);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	gap: 1rem;
	margin-right: 5rem;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	display: flex;
	grid-column: 2/5;
	align-items: center;
	justify-content: space-between;
}

textarea {
	color: var(--dark-text);
	border: none;
	resize: none;
	background-color: var(--note-new);
}

textarea:focus {
	outline: none;
}

.save {
	color: var(--dark-text);
	background-color: var(--dark-background);
	border: none;
	border-radius: 10px;
}

.save h4 {
	margin: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.save:hover {
	background-color: var(--note);
	cursor: pointer;
	border-radius: 20px;
	transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	/* transition: all 0.8s ease; */
}

.note {
	font-size: 1rem;
	color: var(--dark-text);
	background-color: var(--note);
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.note-text {
	word-wrap: break-word;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notes-list {
	display: grid;
	grid-column: 2/5;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	font-size: 1.1rem;
	background-color: var(--note-new);
}

.remaining {
	font-weight: 500;
	color: var(--placeholder-note);
}

textarea {
	color: var(--placeholder-note);
	font-size: 1rem;
}

textarea.placeholder-dark::placeholder {
	font-size: 1rem;
	color: var(--placeholder-note);
}

#delete-icon {
	position: relative;
	display: inline-block;
	fill: var(--dark-text);
	cursor: pointer;
	height: 1rem;
}

/* || Searchbar */
.search {
	display: flex;
	grid-column: 2/5;
	align-items: center;
	background-color: var(--dark-background);
	padding: 5px;
	transition: 0.8s all ease;
}

.search input {
	color: var(--dark-text);
	border: none;
	background-color: var(--dark-background);
	transition: 0.8s all ease;
	width: 100%;
}

#search-icon {
	height: 2rem;
	transition: 0.3s;
	color: var(--dark-text);
}
.search input:focus {
	outline: none;
	font-size: 1.3rem;
	transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transition: 0.3s;
}
input.placeholder-light::placeholder {
	color: var(--placeholder-search);
}

.placeholder-light {
	margin-left: 1rem;
}

::-webkit-input-placeholder {
	font-style: italic;
}

/* || Category */
.category {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.category-btn {
	color: var(--dark-text);
	background-color: transparent;
	border: 0.5px solid var(--dark-text);
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: inset	;
  /* Personalize */
  flex: 1;
  color: var(--placeholder-note);
  background-color: var(--note-new);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 5rem;
  height: 2rem;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
	font-size: 1rem;
  position: absolute;
  right: 0;
	top: 0;
	bottom: 0;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/* || Scrollbar */

::-webkit-scrollbar
{
	width: 12px;
	border-radius: 10px;
	background-color: var(--dark-background);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: var(--dark-background);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: var(--note);
}

::-webkit-scrollbar-corner
{
	background-color: var(--dark-background);
}

::-webkit-scrollbar-thumb:hover
{
	background-color: #646464;
}

/* || Modal */
.button {
	color: var(--placeholder-note);
	display:inline-block;
	text-align:center;
	padding:10px 15px;
	margin:10px;
	background:red;
	font-size:18px;
	background-color:#efefef;
	border-radius:10px;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	cursor:pointer;
}
.button:hover {
	color:white;
	background:#009bd5;
}
.modal {
	color: var(--dark-text);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
	background-color: var(--note);
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	text-align: center;
	padding: 1.2rem;
	border-radius: 2rem;
  position:fixed;
	background-color: var(--note);
  width: 20%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.modal-text {
	text-align: center;
	margin: 0%;
	margin-bottom: 1rem;
}
.modal-close-btn {
	cursor: pointer;
	justify-content: center;
	background:none;
	color: var(--dark-text);
	border: 0.1px solid grey;
	border-radius: 10px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.modal-close-btn:hover {
	background-color: var(--placeholder-search);
	color: var(--dark-text);
}

/* || Sidebar */
.sidebar {
	grid-column: 1/1;
	grid-row: 1/5;
	/* position: fixed; */
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	padding: 6px 14px;
}

.sidebar .logo-content {
	margin-top: 1.5rem;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}

.sidebar .logo-content .logo {
	fill: var(--dark-text);
}

.logo-content .logo-name {
	flex: 2;
	font-size: 1.25rem;
	padding-top: initial;
	margin-left: 1rem;
	vertical-align: middle;
}

.sidebar .btn-menu {
	fill: var(--dark-text);
}

/* Sidebar items */
.sidebar ul {
	margin-top: 20px;
}

.sidebar ul li {
	position: relative;
	height: 50px;
	width: 100%;
	list-style: none;
	line-height: 50px;
}

/* || Tooltip */
.sidebar ul li .tooltip {
	position: absolute;
	left: 10rem;
	top: 0;
	transform: translateY(-50%);
	border-radius: 0.25rem;
	height: 35px;
	width: 122px;
	background: var(--light-background);
	line-height: 2rem;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transition: 0s;
	opacity: 0;
	pointer-events: none;
}

.sidebar ul li:hover .tooltip {
	transition: all 0.5s ease;
	opacity: 1;
	top: 50%;
}

.sidebar ul li a {
	cursor: pointer;
	margin-left: -2rem;
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 10px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.sidebar ul a span {
	margin-left: 1rem;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.sidebar ul li a:hover {
	background:var(--note);
	border-radius: 2rem;
}

.sidebar ul li a svg {
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
}

.links-name {
	color: var(--dark-text);
}

.btn-category {
	fill: var(--dark-text);
}
